.navleft {
    z-index: 1;
    position: fixed;
    top: 10px;
    left: 0;
}

.navright {
    z-index: 1;
    position: fixed;
    top: 10px;
    right: 15px;
}

.navleft a {
    position: inherit;
    text-align: center;
    padding: 14px 16px;
}

.navright a {
    padding: 14px 5px;
    vertical-align:middle;
    filter: grayscale(100%);
}

.navleft a:hover {
    color: #ffffff;
    border-bottom: 1px solid #61686b;
    transition: all 0.5s ease;
}

.navright a:hover {
    border-bottom: 1px solid #61686b;
    transition: all 0.5s ease;
    filter:grayscale(10%);
}
