.navleft {
    z-index: 1;
    position: fixed;
    top: 12px;
    left: 0;
}

.navright {
    z-index: 1;
    position: fixed;
    top: 12px;
    right: 15px;
    filter: grayscale(100%);
}

.navleft a {
    position: inherit;
    text-align: center;
    padding: 14px 16px;
}

.navright a {
    position: inherit;
    padding: 14px 16px;
}

.navleft a:hover {
    color: #ffffff;
    background-color: #7aca9a;
    transition: all 0.5s ease;
}

.navright a:hover {
    filter: grayscale(0%);
    border-bottom: 3px solid #61686b;
    transition: all 1.5s ease;
}
