.navleft {
    z-index: 1;
    position: fixed;
    top: 12px;
    left: 0;
}

.navright {
    z-index: 1;
    position: fixed;
    top: 12px;
    right: 15px;
    filter:grayscale(100%);
}

.navleft a {
    position: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navright a {
    position: inherit;
    padding: 3px 3px;
}

.navleft a:hover {
    position: inherit;
    color: #ffffff;
    background-color: #7aca9a;
}

.navright a:hover {
    position: inherit;
    filter: hue-rotate(20deg);
}
